@font-face {
  font-family: "Gothic3";
  src: url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.eot");
  src: url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/db99fbbf4c15c62e5475cc3286322e4d.svg#Gothic3")format("svg");
}


:root {
    --scroll-bar-size: 1.5vh ;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-size);
    height: var(--scroll-bar-size);
    background-color: #333;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 2px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
  
::-webkit-scrollbar-track {
    background-color: #222;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: #222;
  }

:modal {
  font-weight: bold;
  font-size: 4vh;
  border-radius: 1vh;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blanchedalmond;
  box-shadow: 0px 0px 3vh rgba(255, 235, 205, 0.6);
}

dialog form input {
  font-family: Gothic3;
  font-size: 3vh;
  height: 4vh;
  border-width: 0.1vh;
  color: black;
  background-color: blanchedalmond;
  /* border-radius: 0.5vh; */

}

.start {
  display: flex;
  flex-direction: column;
}



/* dialog::backdrop {
  background-color: "rgba(255, 255, 255, 1)";
} */
  
/* General */
body {
  cursor: url("../img/cursor_final.png"), auto;
  font-family: Gothic3, Arial;
  /* width: 2048px;
  height: 1536px; */
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

body.active {
  cursor: url("../img/cursor_outline_yellow.png"),pointer;
}

canvas {
  /* width: 2048px;
  height: 1536px; */
  background-color: rgb(255, 235, 205); /* blanchedalmond*/
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.audio {
  display: none;
}

#date_var {
  margin: 0.7vw;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#currentTime {
  margin: 0.7vw;
}

/* Upper bar */
#upperBar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 5vh;
  z-index: 1000;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 3vh rgba(255, 235, 205, 0.6);
}

#upperBar.active {
  visibility: hidden;
}

.upperBarDiv {
  position: relative;
  width: 33.3vw;
  display: flex;
  border: 0.05vh solid black;
}

.upperBar-el {
  font-size: 3vh;
  color: white;
  display: flex;
  margin: 0.5vh;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.left {
  left: 0;
}
.center {
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: right;
  align-items: right;
}

.city {
  font-weight: bold;
  justify-content: left;
  align-items: left;
  width: 10vw;
  /* border: 0.1vh solid black; */
  color: black;

}

.money {
  justify-content: left;
  align-items: left;
  width: 5vh;
  overflow: hidden;
}

.center-text {
  font-size: 3vh;
  justify-content: right;
  align-items: right;
  margin: 0;
  width: 10vw;
  /* border: 0.1vh solid black; */
  color: black;
  position: absolute;
  right: 0;
}
 
.button {
  color: black;
  font-size: 3vh;
  font-weight: bold;
  font-family: Gothic3;
  width: 10vw;
  border-radius: 0.5vh;
  border-width: 0.1vh;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  margin-top: 0.2vh;
  margin-left: 1vh;
  margin-right: 1vh;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* box-shadow: 0px 0px 3vh rgba(255, 235, 205, 0.6); */
  cursor: url(../img/cursor_outline_yellow.png), pointer;
  z-index: 1000;
}

/* Side menu */
 #sideMenu {
  width: 30vw;
  height: 90vh;
  position: fixed;
  display: flex;
  top: 4vh;
  right: 0;
  margin: 0.5%;
  transform: translateX(150%);
  transition: transform 0.3s ease;
  background-color: #333;
  border-radius: 0.5vw;
  border-color: #222;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 3vh rgba(255, 235, 205, 0.6);
}

#sideMenu.active {
  transform: translateX(0);
}

#sideMenu img {
  background-color: transparent;
  width: 10%;
  height: 8%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3%;
}

#sideMenu p1 {
  /*font-family: Gothic3;*/
  font-weight: bold;
  font-size: 5vh;
  display: flex;
  margin: 3%;
  
}

#sideMenu div {
  font-size: 2.5vh;
  color: white;
  margin: 3%;
  width: 20vw;
  border: 0.5vh solid black;
}

#sideMenu ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

#sideMenu ul li {
  height: 2vw;
  padding: 0.5vw;
  border-bottom: 0.2vw solid #555;
}

/* #sideMenu ul li button {
  cursor: url(../img/cursor_outline_yellow.png) ,pointer;
  width: 10vw;
  height: 5vh;
  border-width: 0;
  border-radius: 1vh;
  font-family: Gothic3;
  font-size: 3.5vh;
  color: black;
  background-color: transparent;
  /* text-decoration: none; */
  /* display: flex;
  align-items: center;
  justify-content: center;
} */

.menuButton {
  cursor: url(../img/cursor_outline_yellow.png) ,pointer;
  width: 10vw;
  height: 5vh;
  border-width: 0;
  border-radius: 1vh;
  font-family: Gothic3;
  font-size: 3.5vh;
  color: black;
  background-color: transparent;
  /* text-decoration: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .menuButton.active {
  color: black; 
  background-color: transparent;

} */

.menuButton.disable {
  color: darkred;
  background-color: grey;
  opacity: 0.5;
  cursor: url(../img//cursor_final.png), default;
}

#sideMenu ul li a {
  cursor: url(../img/cursor_outline_yellow.png) ,pointer;
  font-size: 2.5vh;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Character Card */

#characterCard {
  width: 90vw;
  height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  bottom: 0;
  left: 4vw;
  box-sizing: border-box;
  background-color: #333;
  transform: translateY(150%);
  transition: transform 0.3s ease;
  margin: 0.5%;
  border-radius: 0.5vw;
  background-image: url("../img/medieval-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 3vh rgba(255, 235, 205, 0.6);
  z-index: 1000;
}

#characterCard.active {
  transform: translateY(0);
}

#characterCard img {
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  border: 0.1vh solid black;
  height: 10vh;
  width: 100%;
}

#characterName {
  align-self: center;
  font-weight: bold;
  font-size: 7vh;
  display: flex;
  margin: 3%;
}

.charInfo {
  margin: 1vh;
}

.localization {
  width: 50%;
  height: 6vh;
  border: 0.1vh solid black;
  display: flex;
  /* flex-direction: row; */
  font-size: 5vh;
}

.localization p {
  font-weight: bold;
  font-size: 5vh;
  border: 0.1vh solid black;
  /* width: 5vw; */
  height: 5vh;
  display: flex;
  transform: translate(10%, -90%);
}

.localization img {
  margin-left: 1vw;
}





/* .charInfo {
  border-color: ;
} */